@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  --card-bg-color: var(--color-white);
  --card-border-color: var(--color-gray-200);
  --card-box-shadow: 0 fn.to-rem(2) fn.to-rem(4) fn.to-rem(-2) rgba(0, 0, 0, 0.05), 0 fn.to-rem(4) fn.to-rem(6) fn.to-rem(-1) rgba(0, 0, 0, 0.10);
  --card-color: var(--color-gray-500);

  @include mq.color-scheme-dark {
    --card-bg-color: var(--color-gray-800);
    --card-border-color: var(--color-gray-700);
    --card-color: var(--color-gray-400);
  }
}

.avatar-card {
  display: flex;

  flex-direction: column;
  align-items: center;

  padding: fn.to-rem(var(--spacing-10)) fn.to-rem(var(--spacing-4));

  border-radius: fn.to-rem(var(--border-radius-rounded-lg));
  border: fn.to-rem(1) solid var(--card-border-color);
  background: var(--card-bg-color);

  color: var(--card-color);

  /* shadow-md */
  box-shadow: var(--card-box-shadow);

}

.avatar-card--image {
  display: flex;
  justify-content: center;
  margin-block-end: fn.to-rem(var(--spacing-3));
}

.avatar-card--title {
  margin-block-end: fn.to-rem(var(--spacing-1));
}

.avatar-card--lead {
  font-size: fn.to-rem(var(--text-sm));
  text-align: center;
}
