@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {

  @include mq.breakpoint($from: md) {
    --header-height: 81;
    --footer-height: 118;
    --compensation-height: calc(var(--header-height) + var(--footer-height));
  }

  @include mq.breakpoint($from: lg) {
    --header-height: 100;
  }

}

.main {
  @include mq.breakpoint($from: md) {
    min-height: calc(100dvh - (fn.to-rem(var(--compensation-height))));
  }
}
