@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

.avatar-card-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: fn.to-rem(var(--spacing-4));
}
