:root {
  color-scheme: light dark;

  // font family
  --font-family: font-family: system-ui, blinkmacsystemfont, arial, sans-serif;
  --font-line-height: 1.6;

  // base size unit
  --base-size-unit: 3;

  // spacings
  --spacing-xs: calc(var(--base-size-unit) * 1);
  --spacing-xxs: calc(var(--base-size-unit) * 2);
  --spacing-s: calc(var(--base-size-unit) * 3);
  --spacing-m: calc(var(--base-size-unit) * 5);
  --spacing-l: calc(var(--base-size-unit) * 7);
  --spacing-xl: calc(var(--base-size-unit) * 9);
  --spacing-xxl: calc(var(--base-size-unit) * 16);
  --spacing-xxxl: calc(var(--base-size-unit) * 22);

  // content
  --content-max-width: 780;
  --content-padding: calc(var(--base-size-unit) * 10);

  // border
  --border-weight-s: 1;
  --border-radius-m: calc(var(--base-size-unit) * 2);

  // font scale
  --font-size-base: calc(var(--base-size-unit) * 5);
  --font-size-m: calc(var(--base-size-unit) * 8);
  --font-size-l: calc(var(--base-size-unit) * 10);
  --font-size-xl: calc(var(--base-size-unit) * 16);
  --font-size-xxl: calc(var(--base-size-unit) * 20);

  // colors
  --color-background: 240, 240, 240;
  --color-foreground: 5, 5, 5;
  --color-background-dense: 220, 220, 220;
  --accent: 8, 40, 154;
  --accent-light: 76, 103, 200;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  @include mq.color-scheme-dark {
    --color-foreground: 250, 250, 250;
    --color-background: 5, 5, 5;
    --color-background-dense: 35, 38, 45;
    --accent: 58, 150, 234;
    --accent-light: 204, 231, 250;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  // transition
  --transition-default-duration: 105ms;
  --transition-default-timing-function: ease-in-out;

  @include mq.breakpoint($from: micro) {
    --base-size-unit: 4;
  }

  @include mq.breakpoint($from: small) {
    --base-size-unit: 5;
  }

  @include mq.breakpoint($from: medium) {
    --content-padding: 0;
  }
}

