@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  @include mx.card-variables;
  --card-width: 100%;
}

.content-card {
  @include mx.card;
  padding: fn.to-rem(var(--spacing-6));

  @include mq.breakpoint($from: md) {
    --card-width: 50%;
    flex: 1 1 calc(var(--card-width) - #{fn.to-rem(var(--spacing-4))});
  }

  @include mq.breakpoint($from: lg) {
    --card-width: 33.333333%;
  }

  &__icon {
    width: fn.to-rem(var(--spacing-10));
    height: fn.to-rem(var(--spacing-10));
  }

  &__title {
    margin-block-end: fn.to-rem(var(--spacing-2));
  }

  &__lead:not(:last-child) {
    flex-grow: 1;
    margin-block-end: fn.to-rem(var(--spacing-3));
  }

}
