@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  --form-max-width: var(--spacing-96);

  --form-privacy-note-color: var(--color-gray-500);

  @include mq.color-scheme-dark {
    --form-privacy-note-color: var(--color-gray-400);
  }
}

.form {
  @include mx.container-centered;
  display: flex;
  flex-direction: column;
  gap: fn.to-rem(var(--spacing-8));
  max-width: fn.to-rem(var(--form-max-width));
  box-sizing: content-box;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: fn.to-rem(var(--spacing-5));
  }

  &__privacy-note {
    color: var(--form-privacy-note-color);
    font-size: fn.to-rem(var(--text-xs));
  }

  &--fade-enter-active,
  &--fade-exit-active {
    transition: opacity 1.5s;
  }

  &--fade-enter,
  &--fade-exit-to {
    opacity: 0;
  }
}
