@use '/src/styles/functions' as fn;

:root {
  --form-max-width: 364;
}

.form {
  display: flex;
  flex-direction: column;
  gap: fn.to-rem(var(--spacing-8));
  max-width: fn.to-rem(var(--form-max-width));
  margin: 0 auto;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: fn.to-rem(var(--spacing-5));
  }
}