@use '/src/styles/functions' as fn;

.form {
  display: flex;
  flex-direction: column;
  gap: fn.to-rem(var(--spacing-8));

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: fn.to-rem(var(--spacing-5));
  }
}