---
import { getLocale } from 'astro-i18n-aut';
import i18n from '../../i18n/i18n-accessibility';
import { useTranslations } from '../../i18n/utils';
import { seoMetaTags } from '../../content-helpers/metaTagsSeo';

import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section/Section';
import Jumbotron from '../../components/Jumbotron/Jumbotron';
import Richtext from '../../components/Richtext/Richtext';

const locale = getLocale(Astro.url);
const t = useTranslations(locale, i18n);

const pageMetaInformation = seoMetaTags(t, Astro.url, 'noindex');

const jumbotronData = {
  heading: {
    level: 1,
    text: t('title'),
    visualLevel: false,
  },
  leadTextContent: t('lead'),
  secondaryJumbo: true,
};

---

<Layout
  pageMetaTags={pageMetaInformation.tags}
  pageTitle={pageMetaInformation.title}
>
  <Section narrow>
    <Jumbotron {...jumbotronData} />
    <Richtext text={t('richtext')} />
  </Section>
</Layout>

