---
const {
  title,
  body,
} = Astro.props;

import './Container.scss';
---

<li class='container'>
  <div class='container-wrapper'>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </div>
</li>
