@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;

:root {
  --lead-color: var(--color-gray-500);
  --lead-font-size: var(--text-2xl);

  @include mq.color-scheme-dark {
    --lead-color: var(--color-gray-300);
  }
}

.lead-text {
  color: var(--lead-color);
  font-weight: var(--font-weight-thin);
  font-size: fn.to-rem(var(--lead-font-size));
  hyphens: auto;

  // text-wrap: balance;
}
