.lead-text {
  border: 1px solid red;

  /*
  @use '../styles/functions' as fn;

  .lead {
    font-size: fn.to-rem(var(--font-size-m));
    text-align: center;
    padding: 0 fn.to-rem(var(--spacing-xxl)) fn.to-rem(var(--spacing-xxl));
  }
  */
}