@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;

:root {
  --lead-color: var(--color-gray-500);

  @include mq.color-scheme-dark {
    --lead-color: var(--color-gray-400);
  }
}

.lead-text {
  color: var(--lead-color);
  font-weight: var(--font-weight-normal);
  font-size: fn.to-rem(var(--text-2xl));
  line-height: 150%;
}