.page-title {
  border: 1px solid red;

  /*
  font-size: fn.to-rem(var(--font-size-xl));
  font-weight: 700;
  line-height: 1;
  text-align: center;
  padding: 0 fn.to-rem(var(--spacing-xl)) fn.to-rem(var(--spacing-xl));
  */
}