@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  --skiplink-background-color: var(--color-red-700);
  --skiplink-color: var(--color-white);
  --skiplink-padding-v: var(--spacing-2-5);
  --skiplink-padding-h: var(--spacing-5);
  --skiplink-border-radius: var(--border-radius-rounded-lg);

  @include mq.color-scheme-dark {
    --skiplink-background-color: var(--color-red-500);
  }
}

.skiplink {
  $root: &;

  @include mx.visually-hidden-focusable;

  display: inline-block;
  padding: fn.to-rem(calc(var(--skiplink-padding-v) - 1)) fn.to-rem(var(--skiplink-padding-h)) fn.to-rem(var(--skiplink-padding-v));
  background-color: var(--skiplink-background-color);
  border-radius: fn.to-rem(var(--skiplink-border-radius));
  color: var(--skiplink-color);
  text-decoration: underline;
  text-underline-offset: fn.to-rem(var(--spacing-1));

  &:focus {
    position: fixed;
    inset-block-start: fn.to-rem(var(--spacing-5));
    inset-inline-start: fn.to-rem(var(--spacing-5));
  }

}
