@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;

:root {
  --section-spacing-h: var(--spacing-4);
  --section-spacing-v: var(--spacing-24);

  @include mq.breakpoint($from: sm) {
    --section-spacing-h: var(--spacing-8);
  }

  @include mq.breakpoint($from: md) {
    --section-spacing-h: var(--spacing-10);
  }

  @include mq.breakpoint($from: lg) {
    --section-spacing-h: var(--spacing-12);
  }

  @include mq.breakpoint($from: xlg) {
    --section-spacing-h: var(--spacing-20);
  }
}

@mixin container-centered {
  max-width: fn.to-rem(calc(var(--content-max-width) + 2 * var(--section-spacing-h)));
  margin: 0 auto;
  padding-right: fn.to-rem(var(--section-spacing-h));
  padding-left: fn.to-rem(var(--section-spacing-h));
}

@mixin container-full-width {
  @include container-centered;

  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

@mixin container-vertical-spacing {
  padding-top: fn.to-rem(var(--section-spacing-v));
  padding-bottom: fn.to-rem(var(--section-spacing-v));
}

@mixin sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin default-transition {
  transition-duration: var(--transition-default-duration);
  transition-timing-function: var(--transition-default-timing-function);

  @include mq.reduced-motion {
    transition-duration: var(--transition-reduced-motion-duration);
    transition-timing-function: none;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin hover-focus {
  &:hover {
    @include mq.mouse-only {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}

@mixin card-variables {
  --card-bg-color: var(--color-white);
  --card-border-color: var(--color-gray-200);
  --card-color: var(--color-gray-500);
  --card-width: 100%;

  @include mq.color-scheme-dark {
    --card-bg-color: var(--color-gray-800);
    --card-border-color: var(--color-gray-700);
    --card-color: var(--color-gray-400);
  }
}

@mixin card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 100%;

  list-style: none;
  border-radius: fn.to-rem(var(--border-radius-rounded-lg));
  border: fn.to-rem(1) solid var(--card-border-color);
  background: var(--card-bg-color);

  color: var(--card-color);

  box-shadow: var(--shadow-md);

  @include mq.breakpoint($from: md) {
    --card-width: 50%;
    flex: 1 1 calc(var(--card-width) - #{fn.to-rem(var(--spacing-4))});
  }

  @include mq.breakpoint($from: lg) {
    --card-width: 33.33333%;
  };

}
