@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;

@mixin sr-only() {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin default-transition {
  transition-duration: var(--transition-default-duration);
  transition-timing-function: var(--transition-default-timing-function);

  @include mq.reduced-motion {
    transition-duration: var(--transition-reduced-motion-duration);
    transition-timing-function: none;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
}

@mixin hover-focus {
  &:hover {
    @include mq.mouse-only {
      @content;
    }
  }

  &:focus-visible {
    @content;
  }
}

@mixin card-variables {
  --card-bg-color: var(--color-white);
  --card-border-color: var(--color-gray-200);
  --card-box-shadow: 0 #{fn.to-rem(2)} #{fn.to-rem(4)} #{fn.to-rem(-2)} rgba(0, 0, 0, 0.05), 0 #{fn.to-rem(4)} #{fn.to-rem(6)} #{fn.to-rem(-1)} rgba(0, 0, 0, 0.10);
  --card-color: var(--color-gray-500);

  @include mq.color-scheme-dark {
    --card-bg-color: var(--color-gray-800);
    --card-border-color: var(--color-gray-700);
    --card-color: var(--color-gray-400);
  }
}

@mixin card {
  border-radius: fn.to-rem(var(--border-radius-rounded-lg));
  border: fn.to-rem(1) solid var(--card-border-color);
  background: var(--card-bg-color);

  color: var(--card-color);

  /* shadow-md */
  box-shadow: var(--card-box-shadow);
}
