.logo {
  border: 1px solid red;

  /*
  @use "../styles/functions" as fn;

  .logo {
    max-width: fn.to-rem(128);
    max-height: fn.to-rem(128);
    margin: fn.to-rem(var(--spacing-xl)) auto;
    display: block;
  }
  */
}