@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  --heading-color: var(--color-gray-900);
  --heading-1-font-size: var(--text-4xl);
  --heading-2-font-size: var(--text-3xl);
  --heading-3-font-size: var(--text-2xl);
  --heading-4-font-size: var(--text-xl);
  --heading-5-font-size: var(--text-l);
  --heading-6-font-size: var(--text-base);

  @include mq.color-scheme-dark {
    --heading-color: var(--color-white);
  }

  @include mq.breakpoint($from: md) {
    --heading-1-font-size: var(--text-5xl);
    --heading-2-font-size: var(--text-4xl);
    --heading-3-font-size: var(--text-3xl);
    --heading-4-font-size: var(--text-2xl);
    --heading-5-font-size: var(--text-xl);
    --heading-6-font-size: var(--text-l);
  }

  @include mq.breakpoint($from: lg) {
    --heading-1-font-size: var(--text-6xl);
    --heading-2-font-size: var(--text-5xl);
    --heading-3-font-size: var(--text-4xl);
    --heading-4-font-size: var(--text-3xl);
    --heading-5-font-size: var(--text-2xl);
    --heading-6-font-size: var(--text-xl);
  }
}

.heading {
  line-height: 125%;
  font-weight: var(--font-weight-bold);

  color: var(--heading-color);
  text-wrap: balance;

  &--level-1 {
    font-size: fn.to-rem(var(--heading-1-font-size));
    line-height: 100%;
  }

  &--level-2 {
    font-size: fn.to-rem(var(--heading-2-font-size));
  }

  &--level-3 {
    font-size: fn.to-rem(var(--heading-3-font-size));

  }

  &--level-4 {
    font-size: fn.to-rem(var(--heading-4-font-size));
  }

  &--level-5 {
    font-size: fn.to-rem(var(--heading-5-font-size));
  }

  &--level-6 {
    font-size: fn.to-rem(var(--heading-6-font-size));
  }
}
