---
import { getLocale } from 'astro-i18n-aut';
import i18n from '../i18n/i18n-404';
import { useTranslations } from '../i18n/utils';
import { seoMetaTags } from '../content-helpers/metaTagsSeo';

import generalDataGetter from '../content-helpers/general';
import Button from '../components/Button/Button';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation/Navigation';
import Section from '../components/Section/Section';
import Jumbotron from '../components/Jumbotron/Jumbotron';

const locale = getLocale(Astro.url);
const generalData = generalDataGetter(locale);
const t = useTranslations(locale, i18n);

const pageMetaInformation = seoMetaTags(t, Astro.url, 'noindex, follow');

const jumbotronData = {
  heading: {
    level: 1,
    text: t('title'),
    visualLevel: false,
  },
  leadTextContent: t('lead'),
  mainJumbo: false,
};

---

<Layout
  pageMetaTags={pageMetaInformation.tags}
  pageTitle={pageMetaInformation.title}
  hideContactForm={true}
  isHome={true}
>
  <Section>
    <Jumbotron {...jumbotronData} />
    <Navigation>
      <Button {...generalData.siteData.homeButtonData} />
    </Navigation>
  </Section>
</Layout>
