---
import Layout from '../layouts/Layout.astro';
import MainContainer from '../components/MainContainer.astro';

---

<Layout>
  <MainContainer>

    <h1>Impressum</h1>

  </MainContainer>

</Layout>
