---
import { getLocale } from 'astro-i18n-aut';
import Layout from '../layouts/Layout.astro';
import Main from '../components/MainContainer/MainContainer';
import Section from '../components/Section/Section';
import Jumbotron from '../components/Jumbotron/Jumbotron';
import ContentCardGrid from '../components/ContentCardGrid/ContentCardGrid';
import ContentCard from '../components/ContentCard/ContentCard';
import AvatarCardGrid from '../components/AvatarCardGrid/AvatarCardGrid';
import AvatarCard from '../components/AvatarCard/AvatarCard';
import pageDataGetter from '../content/home';
import pageDataGetterGeneral from '../content/general';

const locale = getLocale(Astro.url);
const pageData = pageDataGetter(locale);
const pageDataGeneral = pageDataGetterGeneral(locale);

const pageMetaTags = [
  {
    content: pageDataGeneral.siteData.description,
    name: 'description',
  },
  {
    content: 'noindex',
    name: 'robots',
  },
];

---

<Layout pageMetaTags={pageMetaTags}>
  <Main {...pageDataGeneral.mainData}>
    <!-- Header -->
    <Section fullWidth noVerticalSpacingTop>
      <Jumbotron {...pageData.jumbotronData}/>
    </Section>

    <!-- Services -->
    <Section>
      <Jumbotron {...pageData.jumbotronDataServices} />
      <ContentCardGrid
        ariaLabelledBy={pageData.jumbotronDataServices.heading.id}
      >
        <ContentCard {...pageData.serviceCardTeaser1}></ContentCard>
        <ContentCard {...pageData.serviceCardTeaser2}></ContentCard>
        <ContentCard {...pageData.serviceCardTeaser3}></ContentCard>
        <ContentCard {...pageData.serviceCardTeaser4}></ContentCard>
        <ContentCard {...pageData.serviceCardTeaser5}></ContentCard>
        <ContentCard {...pageData.serviceCardTeaser6}></ContentCard>
      </ContentCardGrid>
    </Section>

    <!-- About -->
    <Section>
      <Jumbotron {...pageData.jumbotronDataAbout} />
      <AvatarCardGrid
        ariaLabelledBy={pageData.jumbotronDataAbout.heading.id}
      >
        <AvatarCard {...pageData.avatarCardMarius}></AvatarCard>
        <AvatarCard {...pageData.avatarCardYves}></AvatarCard>
      </AvatarCardGrid>
    </Section>

  </Main>

</Layout>
