---
import { getLocale } from 'astro-i18n-aut';
import { useTranslations } from '../i18n/utils';
import Layout from '../layouts/Layout.astro';
import MainContainer from '../components/MainContainer.astro';

const locale = getLocale(Astro.url);
const t = useTranslations(locale);

---

<Layout removeNoIndex>
  <MainContainer>

    <section>
      <h1>{t('site.title')}</h1>
      <p>{t('page.leadText')}</p>

    </section>

  </MainContainer>

</Layout>
