---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

const title = 'Vorhall';
---

<Layout title={title}>
  <main>
    <img class='logo' src = '/favicon.svg' alt='Vorhall Logo'/>
    <h1>Welcome to <span class='text-gradient'>{title}</span></h1>
    <p class='lead'>
      Lorem ipsum
    </p>
    <ul class='container-grid'>
      <Container
        title='What we do'
        body='Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.'
      />
      <Container
        title='How we are'
        body='Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.'
      />
    </ul>
  </main>
</Layout>

<style lang='scss'>
  @use '../styles/functions' as fn;

  main {
    $main-padding: 16;

    margin: auto;
    padding: fn.to-rem($main-padding);
    width: fn.to-rem(800);
    max-width: calc(100% - fn.to-rem(2 * $main-padding));
    color: rgb(var(--foreground-rgb));
    font-size: fn.to-rem(20);
    line-height: 1.6;
  }

  .logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
  }

  h1 {
    font-size: fn.to-rem(64);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: fn.to-rem(64);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;

    /* stylelint-disable property-no-vendor-prefix */
    -webkit-background-clip: text;
    /* stylelint-enable property-no-vendor-prefix */

    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .lead {
    margin-bottom: fn.to-rem(32);
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: fn.to-rem(32);
    padding: 0;
  }
</style>
