---
import Layout from '../layouts/Layout.astro';
import MainContainer from '../components/MainContainer.astro';
---

<Layout removeNoIndex>
  <MainContainer>

    <section class="section-main">
      <h1 class="title">Vorhall</h1>
      <p class="lead">We are on a mission to build fast, sustainable digital products that last and can be accessed by everyone.</p>
    </section>

    <section class="section-info">
      <div class="info-wrapper">
        <h2 class="info-title">Additional information</h2>
        <p class="note">Bear with us as we weave the digital tapestry of accessible and sustainable web design, coming soon early 2024!</p>
        <p>
          Anyway, don't hesitate to contact us:
          <a
            class="mail"
            href="mailto:info@vorhall.com"
          >info@vorhall.com</a>
        </p>
      </div>
    </section>

  </MainContainer>

</Layout>

<style lang="scss">
  @use '../styles/functions' as fn;
  @use '../styles/mediaqueries' as mq;
  @use '../styles/mixins' as mx;

  .section-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: fn.to-rem(var(--spacing-xxxl));
    min-height: 100vh;
  }

  .title {
    font-size: clamp(fn.to-rem(var(--font-size-m)), 12vw, fn.to-rem(var(--font-size-xxl)));
    line-height: 1;
    text-align: center;
    padding: fn.to-rem(var(--spacing-xxl));
  }

  .lead {
    font-size: fn.to-rem(var(--font-size-m));
    text-align: center;
  }

  .section-info {
    padding: fn.to-rem(var(--border-weight-s));
    background-color: rgb(var(--color-background-dense));
    background-size: 400%;
    border-radius: fn.to-rem(var(--border-radius-m));
    background-position: 0;
    background-image: var(--accent-gradient);
    box-shadow: inset 0 0 0 fn.to-rem(var(--border-weight-s)) rgba(var(--color-foreground), 10%);
    color: rgb(var(--accent-light));
    margin-bottom: fn.to-rem(var(--spacing-xxxl));
  }

  .info-wrapper {
    width: 100%;
    text-decoration: none;
    padding: fn.to-rem(calc(var(--spacing-xl) - var(--border-weight-s)));
    border-radius: fn.to-rem(var(--border-radius-m));
    background-color: rgb(var(--color-background-dense));
    opacity: 0.8;
  }

  .note {
    padding-bottom: fn.to-rem(var(--spacing-m));
  }

  .mail {
    display: block;
    color: rgb(var(--color-foreground));
  }

  .info-title {
    @include mx.sr-only;
  }
</style>

<!--
  todo:
  - meta description currently is the same as the lead-text. ok?
  - test on browser-stack
  - check light/dark mode
  - check high-contrast
  - check contrast
-->
