---
import Layout from '../layouts/Layout.astro';
// import MainContainer from '../components/MainContainer.astro';
---

<Layout removeNoIndex>
  <!--
  <MainContainer>

    <section class="section-main">
      <h1 class="title">Vorhall</h1>
      <p class="lead">We are on a mission to build fast, sustainable digital products that last and can be accessed by everyone.</p>
    </section>

    <section class="section-info">
      <div class="info-wrapper">
        <h2 class="info-title">Additional information</h2>
        <p class="note">Bear with us as we weave the digital tapestry of accessible and sustainable web design, coming soon early 2024!</p>
        <p class="contact">
          <span class="contact-description">Anyway, don't hesitate to contact us:</span>
          <a
            class="mail"
            href="mailto:info@vorhall.com"
          >info@vorhall.com</a>
        </p>
      </div>
    </section>

  </MainContainer>
  -->

</Layout>

<style lang="scss">
  @use '../styles/functions' as fn;
  @use '../styles/mediaqueries' as mq;
  @use '../styles/mixins' as mx;

  .section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: fn.to-rem(var(--spacing-xxxl));
    min-height: 100vh;
  }

  .title {
    padding: fn.to-rem(var(--spacing-xxl));
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: clamp(fn.to-rem(var(--font-size-m)), 12vw, fn.to-rem(var(--font-size-xxl)));
    line-height: 1;
    text-align: center;
  }

  .lead {
    font-size: fn.to-rem(var(--font-size-m));
    text-align: center;
  }

  .section-info {
    padding: fn.to-rem(var(--border-weight-s));
    background-color: rgb(var(--color-background-dense));
    background-size: 400%;
    border-radius: var(--border-radius-rounded-md);
    background-position: 0;
    background-image: var(--accent-gradient);
    box-shadow: inset 0 0 0 fn.to-rem(var(--border-weight-s)) rgba(var(--color-foreground), 10%);
    color: rgb(var(--foreground-color));
    margin-bottom: fn.to-rem(var(--spacing-xxxl));
  }

  .info-wrapper {
    width: 100%;
    text-decoration: none;
    padding: fn.to-rem(calc(var(--spacing-xl) - var(--border-weight-s)));
    border-radius: var(--border-radius-rounded-md);
    background-color: rgb(var(--color-background-dense));
    opacity: 0.8;
  }

  .info-title {
    @include mx.sr-only;
  }

  .note {
    padding-bottom: fn.to-rem(var(--spacing-m));
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-description {
    flex-basis: 100%;
  }

  .mail {
    position: relative;
    display: inline-block;
    color: rgb(var(--color-foreground));
    text-decoration: none;
    transition-timing-function: var(--transition-default-timing-function);
    transition-duration: var(--transition-default-duration);
    transition-property: color;

    @include mq.reduced-motion {
      transition: none;
    }
  }

  .mail:hover {
    @include mq.mouse-only {
      color: rgb(var(--color-background));
    }
  }

  .mail::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3px;
    background-color: rgb(var(--color-foreground));
    transition-timing-function: var(--transition-default-timing-function);
    transition-duration: var(--transition-default-duration);
    transition-property: height, left, right;

    @include mq.reduced-motion {
      transition: none;
    }
  }

  .mail:hover::before {
    @include mq.mouse-only {
      height: 100%;
      left: fn.to-rem(calc(var(--spacing-xs) * -1));
      right: fn.to-rem(calc(var(--spacing-xs) * -1));
    }
  }
</style>
