---
const {
  title,
  subtitle,
  text,
} = Astro.props;
---

<div class="avatar-card">
  <slot />
  <p>{title}</p>
  <p>{subtitle}</p>
  <p>{text}</p>
</div>

<style lang="scss">
  @use '../styles/functions' as fn;

  .avatar-card {
    border: 2px solid red;
  }
</style>
