---
import { getLocale } from 'astro-i18n-aut';
import { useTranslations } from '../i18n/utils';

const locale = getLocale(Astro.url);
const t = useTranslations(locale);
---

<div>
  <p>{t('page.contactUs.description')}</p>

  <!-- TODO: find a clever way to prevent from spam -->
  <p>info@vorhall.com</p>
</div>

<style lang="scss">
  @use '../styles/mediaqueries' as mq;
  @use '../styles/functions' as fn;
</style>
