---
import { getLocale } from 'astro-i18n-aut';
import {
  langRoute,
  useTranslations,
} from '../i18n/utils';

import Icon from './Icon.astro';

const locale = getLocale(Astro.url);
const t = useTranslations(locale);

const links = [
  {
    link: langRoute(locale, 'impressum'),
    text: t('footer.links.impressum'),
  },
  {
    link: langRoute(locale, 'legal'),
    text: t('footer.links.legal'),
  },
];

let langSwitch = {
  href: '/de/',
  icon: '/germany-flag-icon.svg',
};

if (locale === 'de') {
  langSwitch = {
    href: '/',
    icon: '/united-kingdom-flag-icon.svg',
  };
}
---

<footer>

  <!-- Lang-Switch -->
  <a
    href={langSwitch.href}
    class="lang-link"
  >
    <Icon
      icon={langSwitch.icon}
      alt={t('footer.langSwitch.iconAltText')}
      width="55"
      height="38"
      class="lang-icon"
    />
    {t('footer.langSwitch.text')}
  </a>

  <!-- Links -->
  <ul>
    {links.map((link) => (
      <li>
        <a class="link" href={link.link}>{link.text}</a>
      </li>
    ))}
  </ul>
</footer>

<style lang="scss">
  @use '../styles/functions' as fn;

  /*
  .link {
    display: block;
    height: fn.to-rem(50);
  }

  .lang-link {
    text-decoration: none;
    display: block;
  }

  .lang-icon {
    display: block;
    width: 200px;
    height: auto;
  }
  */
</style>
