---
const {
  text,
} = Astro.props;
---

<p class="lead">
  {text}
</p>

<style lang="scss">
  @use '../styles/functions' as fn;

  .lead {
    font-size: fn.to-rem(var(--font-size-medium));
    text-align: center;
    padding: 0 fn.to-rem(var(--spacing-xxl)) fn.to-rem(var(--spacing-xxl));
  }

</style>
