---
const {
  text,
  highlight,
} = Astro.props;
---

<h1>{text}{highlight && <span class="text-gradient">{` ${highlight}`}</span>}</h1>

<style lang="scss">
  @use '../styles/functions' as fn;

  h1 {
    font-size: fn.to-rem(64);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: fn.to-rem(64);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;

    /* stylelint-disable property-no-vendor-prefix */
    -webkit-background-clip: text;
    /* stylelint-enable property-no-vendor-prefix */

    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
