---
const {
  text,
  highlight,
} = Astro.props;
---

<h1 class="page-title">{text}{highlight && <span class="text-highlight">{` ${highlight}`}</span>}</h1>

<style lang="scss">
  @use '../styles/functions' as fn;

  .page-title {
    font-size: fn.to-rem(var(--font-size-xl));
    font-weight: 700;
    line-height: 1;
    text-align: center;
    padding: 0 fn.to-rem(var(--spacing-xl)) fn.to-rem(var(--spacing-xl));
  }

  .text-highlight {
    // color: rgb(var(--color-primary));
  }

  /*
  .text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
  */
    /* stylelint-disable property-no-vendor-prefix */
    // -webkit-background-clip: text;
    /* stylelint-enable property-no-vendor-prefix */

    /*
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  */
</style>
