@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;

:root {
  --jumbotron-padding-v: var(--spacing-8);
  --jumbotron-padding-h: var(--spacing-4);

  @include mq.breakpoint($from: md) {
    --jumbotron-padding-v: var(--spacing-16);
  }

  @include mq.breakpoint($from: lg) {
    --jumbotron-padding-v: var(--spacing-24);
    --jumbotron-padding-h: var(--spacing-24);
  }

}

.jumbotron {
  text-align: center;
  padding: fn.to-rem(var(--jumbotron-padding-v)) fn.to-rem(var(--jumbotron-padding-h));

  & &__heading {
    margin-bottom: fn.to-rem(var(--spacing-4));

    &--main {
      margin-bottom: fn.to-rem(var(--spacing-6));
    }
  }
}