@use '/src/styles/mixins' as mx;
@use '/src/styles/mediaqueries' as mq;

:root {
  @include mx.container-centered-variables;

  --section-background: var(--color-white);

  @include mq.color-scheme-dark {
    --section-background: var(--color-gray-800);
  }
}

.section {
  @include mx.container-m;
  @include mx.container-vertical-spacing;

  &--full-width {
    @include mx.container-full-width;
  }

  &--small {
    @include mx.container-s;
  }

  &--large {
    @include mx.container-l;
  }

  &--highlight {
    background-color: var(--section-background);
  }

  &--no-v-spacing-top {
    padding-top: 0;
  }

  &--no-v-spacing-bottom {
    padding-bottom: 0;
  }
}