.footer {
  border: 1px solid red;

  /*
  .link {
    display: block;
    height: fn.to-rem(50);
  }

  .lang-link {
    text-decoration: none;
    display: block;
  }

  .lang-icon {
    display: block;
    width: 200px;
    height: auto;
  }
  */
}