@use '/src/styles/functions' as fn;
@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  @include mx.container-centered-variables;

  --footer-border-color: var(--color-gray-200);
  --footer-spacing-top: var(--spacing-16);

  @include mq.color-scheme-dark {
    --footer-border-color: var(--color-gray-700);
  }

  @include mq.breakpoint($from: md) {
    --footer-spacing-top: var(--spacing-24);
  }

  @include mq.breakpoint($from: lg) {
    --footer-spacing-top: var(--spacing-32);
  }
}

.footer {
  padding-top: fn.to-rem(var(--footer-spacing-top));

  &__legal-link-list {
    @include mx.container-centered;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: fn.to-rem(var(--spacing-8));
    border-bottom: fn.to-rem(var(--spacing-px)) solid var(--footer-border-color);
    margin-bottom: fn.to-rem(var(--spacing-8));
    padding-bottom: fn.to-rem(var(--spacing-8));

    @include mq.breakpoint($from: sm) {
      justify-content: flex-start;
    }
  }

  &__bottom-wrapper {
    @include mx.container-centered;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: fn.to-rem(var(--spacing-4));
  }

  &__copyright {
    flex-basis: 100%;
    text-align: center;

    @include mq.breakpoint($from: sm) {
      flex-basis: auto;
    }
  }

  &__lang-switch {
    margin: 0 auto;

    @include mq.breakpoint($from: sm) {
      margin: 0;
    }
  }

}
