---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import './index.css';
---

<Layout title='Vorhall'>
  <main>
    <ul class='card-grid'>
      <Container
        title='test2'
        body='Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.'
      />
      <Container
        title='test2'
        body='Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.'
      />
    </ul>
  </main>
</Layout>

