---
import { getLocale } from 'astro-i18n-aut';
import { useTranslations } from '../i18n/utils';

const locale = getLocale(Astro.url);
const t = useTranslations(locale);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t('site.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- TODO: remove on launch -->
    <meta name="robots" content="noindex">

    <title>{t('site.title')}</title>
  </head>
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>

<style is:global lang="scss">
  @use '../styles/mediaqueries' as mq;
  @use '../styles/functions' as fn;
  @import '../styles/global/variables';

  html {
    font-size: calc(var(--font-size-base) * 1px);
  }

  body {
    font-family: system-ui, BlinkMacSystemFont, Arial, sans-serif;
    font-size: fn.to-rem(#{var(--font-size-base)});
    background-color: rbg(var(--color-background));
    color: rbg(var(--color-background));
    line-height: var(--font-line-height);
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    hyphens: auto;

    @include mq.reduced-motion {
      transition: none;
    }
  }

  ul {
    list-style-type: none;
  }

  .layout {
    max-width: fn.to-rem(var(--content-max-width));
    margin: 0 auto;
    padding: 0 fn.to-rem(var(--content-padding));
  }

</style>
