---
import { getLocale } from 'astro-i18n-aut';

const {
  title,
} = Astro.props;
---

<!doctype html>
<html lang={getLocale(Astro.url)}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="About vorhall" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- TODO: remove on launch -->
    <meta name="robots" content="noindex">

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">
  @use '../styles/mediaqueries' as mq;
  @use '../styles/functions' as fn;
  @import '../styles/global/variables';

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-family: system-ui, sans-serif;
    background: rgb(var(--background-rgb));
    font-size: fn.to-rem(var(--font-size-base));
  }

</style>
