---
import { getLocale } from 'astro-i18n-aut';
import { useTranslations } from '../i18n/utils';

const locale = getLocale(Astro.url);
const t = useTranslations(locale);
const {
  removeNoIndex,
} = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t('site.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    {!removeNoIndex && <meta name="robots" content="noindex">}

    <title>{t('site.title')}</title>
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>

<style is:global lang="scss">
  @import '../styles/global';
</style>
