@use '/src/styles/mediaqueries' as mq;
@use '/src/styles/mixins' as mx;

:root {
  @include mx.link-variables;
  --link-color-secondary: var(--color-gray-500);

  @include mq.color-scheme-dark {
    --link-color-secondary: var(--color-gray-400);
  }
}

.link {
  @include mx.link;

  &--secondary {
    color: var(--link-color-secondary);
  }

}
